.profile__avatarka {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    padding: 40px 0;
}

@media (max-width: 320px) {
    .profile__avatarka {
        margin: 38px 0 22px;
        align-self: center;
        padding: 0;
    }
}

@media (max-width: 580px) {
    .profile__avatarka {
        align-self: center;
    }
}