.popup__close-button {
    background: transparent url(../../../images/CloseIcon.svg) no-repeat;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    max-width: 32px;
    max-height: 32px;
    margin: 0;
    padding: 0;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s linear 0.2s;
}

@media(max-width: 581px) {
    .popup__close-button {
        height: 20px;
        right: 0;
        top: -36px;
        width: 20px;
        background-size: 20px 20px;
    }
}