.popup__save-button {
    display: block;
    margin: 48px auto 37px;
    min-width: 358px;
    min-height: 50px;
    background-color: black;
    color: white;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.23;
    border-style: none;
    cursor: pointer;
    align-items: center;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: opacity 0.5s linear 0.2s;
}